body {
    font-family: sans-serif;
}

h1 {
    font-size: 20pt;
    text-align: center;
}

h3 {
    font-size: 10pt;
    text-align: center;
}

a, form, label{
    font-size: 14pt;
    align-items: center;
    margin: 5px auto;
}

img {
    display: block;
    margin: 0 auto;
}

#header{
    align-content: center;
    height: 15%;
}

#content{
    align-content: center;
    height: 70%;
}

#footer{
    align-content: center;
    height:15%;
}

.spittleList ul {
    list-style: none;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 5px;
}

.spittleTime {
    font-size: 8pt;
}

.spittleLocation {
    font-size: 8pt;
}

.errors {
    background-color: #ffcccc;
    align-content: center;
    color: red;
    border: 2px solid red;
    width: 50%;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}